<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home/home.css')}}">
    <title>Home</title>
</head>
<body">
    <ul>
        {% if current_user %}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/info">About</a></li>
        <li><a href="/stocks">Stock</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/">Welcome {{ current_user.username}}</a></li>
        {% else %}
        <li><a href="/info">About</a></li>
        <li><a href="/stocks">Stock</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/">Home</a></li>
        {% endif %}
    </ul>
    <h1>Welcome to the Stock Market Home Page</h1>
    {% if current_user.is_authenticated %}
    <p>Hello, {{ current_user.username}}!</p>
    <p><a href="/logout">Logout</a></p>
    {% else %}
    <p><a href="/login">Login</a> or <a href="/info">Sign Up</a></p>
    {% endif %}
</body>
</html>