#stock-box{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    border-radius: 2px;
    background-color: yellow;
    
}
#news{
    margin: 10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: red;
}

body {
    font-family: Arial;
}
  
*{
    box-sizing: border-box;
}
  
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
form.example button:hover {
    background: #0b7dda;
}
  
form.example::after {
    content: "";
    clear: both;
    display: table;
}