body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282727;
}
  
li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111;
}
#currency_amount{
    font-size: 10px;
}
form.example input[type=date] {
    position: relative;
    margin-top: 15px;
    padding: 10px;
    padding-left: 80px;
    font-size: 12.5px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
form.example h1{
    display: inline-block;
    left: 425px;
    display: inline-block;
    position: absolute;
    color: green;
    font-size: 15px;
    right: 450px;
    top: 150px;
}
form.example h2{
    display: inline-block;
    left: 425px;
    top: 200px;
    position: absolute;
    color: green;
    font-size: 15px;
}
form.example h3{
    display: inline-block;
    left: 425px;
    top: 250px;
    position: absolute;
    color: green;
    font-size: 15px;
}
form.example input[type=text] {
    margin-top: 30px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    position: relative;
    
  }
  
form.example button {
    margin-top: 30px;
    position: relative;
    top: 200px;
    right: 300px;
    width: 20%;
    padding: 12px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    display: inline-block;


  }
  
form.example button:hover {
    background: #0b7dda;

}
  
form.example::after {
    content: "";
    clear: both;
    display: table;
}
#table_form{
    display: table;
    text-align: center;
    position: relative;
    top: 100px;
    left: 400px;
    margin-top: 75px;
    background-color: green
}
#header_stock{
    color: green;
    margin: auto;
    position: relative;
    text-align: center;
    padding-top: 20px;
}
#day_label{
    display: inline-block;
    left: 725px;
    top: 300px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#checkbox_day_label{
    display: inline-block;
    left: 700px;
    top: 300px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#checkbox_week_label{
    display: inline-block;
    left: 800px;
    top: 300px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#week_label{
    display: inline-block;
    left: 825px;
    top: 300px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#checkbox_month_label{
    display: inline-block;
    left: 900px;
    top: 300px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#month_label{
    display: inline-block;
    left: 925px;
    top: 300px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#ascending_label{
    display: inline-block;
    left: 500px;
    top: 325px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#checkbox_asc_label{
    display: inline-block;
    left: 625px;
    top: 325px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#descending_label{
    display: inline-block;
    left: 680px;
    top: 325px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
#checkbox_desc_label{
    display: inline-block;
    left: 825px;
    top: 325px;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.img1{
    display: relative;
    position: absolute;
    top: 450px;
    left: 250px;
    width: 500px;
    height: 500px;
}
.img2{
    display: relative;
    position: absolute;
    top: 450px;
    left: 950px;
    width: 500px;
    height: 500px;
}
.stocks_buy{
    display: flex;
}
#buy_option{
    position: relative;
    padding: 10px;
    border: 1px solid green;
    height: 225px;
    width: 225px;
}
form.buy label{
    color: green;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-size: 15px;
    
}
form.buy input{
    width: 125px;
    margin-left: 65px;
    background-color: green;
    padding: 2.5px;
    position: absolute;
    left: 15px;
}
form.buy p{
    color: green;
    position: relative;
    font-size: 15px;
}
#currency{
    display: inline-block;
    margin-left: 97.5px;
    border-radius: 30px;
    padding: 2.5px;
    background-color: green;
}
form.buy button{
    color: white;
    margin-left:50px;
    margin-top: 20px;
    background-color: green;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    left: 100px;
}
.error2{
    color: green;
    position: absolute;
    left: 10px;
    top: 900px;
}