body{
    font-family: Arial;
}
*{
    box-sizing: border-box;
}

.title{
    color: green;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
#titlez{
    color: green;
    text-align: center;
    position:relative;
    display: inline-block;
    left: 375px;
    top: 125px;
    padding-bottom: 150px;
    font-family:'Courier New', Courier, monospace
}
form.example input[type=text]{
    position: relative;
    margin-top: 15px;
    padding: 10px;
    left: 35px;
    top: 12px;
    font-size: 12.5px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
form.example h1{
    display: inline-block;
    color: green;
    font-size: 20px;
    position: absolute;
    right: 1025px;
    top: 260px;
    font-family:'Courier New', Courier, monospace
}
form.example h2{
    display: inline-block;
    color: green;
    font-size: 20px;
    position: absolute;
    top: 155px;
    right: 1025px;
    font-family:'Courier New', Courier, monospace
}

form.example button{
    position: absolute;
    background-color: green;
    top: 325px;
    right: 750px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-size: 12px;
    padding: 20px 15px 20px 15px;
}

p{
    text-align: center;
    color: green;
}
.back_button{
    color: green;
    position: relative;
    top: 175px;
    right: 500px;
    font-size: 20px;
    
}
a{
    text-decoration: none;
}