*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
form.reset p{
    color: green;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: 2.5px;
    right: 10px;
}
h1{
    font-size: 40px;
    color: green;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}
.password1_title{
    text-align: center;
    color: green;
    padding-top: 50px;
    font-size: 20px;
    position: absolute;
    top: 225px;
    left: 550px;
    font-family:'Courier New', Courier, monospace;
}
.password2_title{
    color: green;
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    left: 440px;
    top: 350px;
}
.password1{
    position: relative;
    text-align: left;
    left: 650px;
    top: 90px;
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.password2{
    position: relative;
    padding-left: 10px;
    padding-right: 60px;
    text-align: left;
    left: 415px;
    top: 165px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
form.reset button{
    position: relative;
    left: 225px;
    padding: 17.5px;
    top: 250px;
    border-radius: 20px;
}