<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/stock.css')}}">
    
    <title>Stocks</title>
</head>
<body style="background-color: black">
    {% block body %}
    <script src="https://kit.fontawesome.com/e50577ab3f.js" crossorigin="anonymous"></script>
    <h1 id="header_stock">Stocks</h1>  
    
    <div>
            <form class="example" action="/" method="post" style="margin:auto;max-width:550px" >
                <h1>Name</h1>
                <input type="text" placeholder="Search name of company" name="keyword2" >
                <h2>Start</h2>
                <input type="date" id="stock-time" name="from_date" value="1993-03-27" min="1993-03-11" max="2024-06-03">
                <h3>End</h3>
                <input type="date" id="stock-time" name="to_date" value="2018-06-12" min="1993-06-12" max="2024-06-03">
                <input type="checkbox" id="checkbox_day_label" name="period" value="d">
                <label for="utc_day" id="day_label">Day</label><br>
                <input type="checkbox" id="checkbox_month_label" name="period" value="m">
                <label for="utc_month" id="month_label">Month</label>
                <input type="checkbox" id="checkbox_year_label" name="period" value="y">
                <label for="utc_year" id="year_label">Year</label>
                <label for="ascending" id="ascending_label">Ascending</label>
                <br>
                <input type="checkbox" id="checkbox_asc_label" name="order" value="a">
                <label for="descending" id="descending_label">Descending</label>
                
                <input type="checkbox" id="checkbox_desc_label" name="order" value="d">

                <button type="submit" class="fa fa-search" style="background-color: green"></button>



            </form>
        
        <div id="table_form">
            {{ my_table | safe}}
        </div>
    </div>
    
    {% endblock %}
</body>
</html>



