<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/auth/forgotpassword.css')}}">
    <title>Reset Password</title>
</head>
<body style="background-color: black">
    <script src="https://kit.fontawesome.com/e50577ab3f.js" crossorigin="anonymous"></script>
    <div>
        <h1 id="titlez">Please Enter your email to reset password</h1>
        <br>
        <form class="example" action="" method="POST" style="margin:auto; max-width: 550px;">
            <h1>Email</h1>
            <input type="text" placeholder="Email" name="email">
            <button type="submit" class="fa-solid fa-door-open">Submit</button>
        </form>
        <a href="/login" class="back_button"><i class="fa-solid fa-backward"></i>Back</a>

    </div>
</body>
</html>